[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
scipy = "*"
scikit-learn = "*"
mlxtend = "*"
pingouin = "*"
mne = "0.22"
mne-bids = "0.6"
pybv = "0.4"
joblib = ">=1.0.0"
tqdm = "*"
matplotlib = "*"
seaborn = "*"
ptitprince = "*"
dabest = "*"
pyyaml = "*"
tensorflow-gpu = "*"
natsort = "*"
xlrd = "*"

[requires]
python_version = "3.8"
